<%- include('../layouts/commonHeader.ejs') %>

  <section class="vh-100 "
    style="background-image: url('images/greencasabg.avif'); background-position: center; background-repeat: no-repeat; background-size: cover;">
    <div class="container py-5 h-100 ">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-md-4">
          <div class="card border border-success " style="border-radius: 1rem ,bold;">
            <div class="row g-0">

              <div class="col-md-12 col-lg-12 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">


                  <div class="container">
                    <h3 style="color: #204f38;"><b>Your email has been verified.</b></h3>

                    <a data-mdb-ripple-init class="btn btn-lg btn-block text-white" style="background-color: #3c0101"
                      href="/login" role="button">
                      <i class="fa-solid me-2"></i> Login
                    </a>
                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>
</html>