<%- include('../layouts/commonHeader.ejs') %>

  <section class="vh-100 "
    style="background-image: url('images/greencasabg.avif'); background-position: center; background-repeat: no-repeat; background-size: cover;">
    <div class="container py-5 h-100 ">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-md-4">
          <div class="card border border-success " style="border-radius: 1rem ,bold;">
            <div class="row g-0">

              <div class="col-md-12 col-lg-12 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">


                  <div class="container">
                    <h3 style="color: #204f38;"><b>Payment Failed</b></h3>
                    <h5>We encountered an issue while processing your payment.<br> Please try again.</b></h5>
                    <a data-mdb-ripple-init class="btn btn-lg btn-block text-white" style="background-color: #3c0101"
                      href="/orders" role="button">
                      <i class="fa-solid me-2">Retry Payment</i>
                    </a>
                    <a data-mdb-ripple-init class="btn text-white btn-lg btn-block" style="background-color: #001627"
                      href="/cart" role="button">
                      <i class="fa-brands me-2"></i> Back to Cart</a>
                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Js Plugins -->
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.nice-select.min.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="js/jquery.slicknav.js"></script>
  <script src="js/mixitup.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/main.js"></script>



</body>